/* =============
    Global Com
============= */
@use "../helpers";

#global-com{
    padding: 40px 24px;
    text-align: center;

    p{
        color: var(--grey);
        font-weight: 600;
        line-height: helpers.rem-calc(28);
        margin: 24px, 0, 24px;
    }

}